@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');


:root {
    --primary-color: #0f172a;
    --off-white:#cbd5e1;
}
body{
    font-family: 'Inter', sans-serif;
    margin: 0px;
}

/** container**/

.container{
    padding-left: 1rem;
    padding-right: 1rem;
}
.container-center{
    max-width: 600px;
    margin: auto;
}

/** links**/
.links{
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
    /* margin-top: 1rem;
    margin-bottom: 1rem; */
}

.primary-links{
    background-color:var(--primary-color);
    color:white;
    border-radius: 0.5rem;
}

.secondary-links{
    color:var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}
hr{
    margin: 2rem 0rem;
}
/* spaces */
.margin-md{
    margin:2rem;
}

/** list**/

.non-bullet{
    list-style: none;
}
.inline-list{
    display: inline;
    padding:0rem 0.5rem;
}


/** navigation **/
.navigation{
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    
}
 .navigation .nav-brand{
    font-weight: bold;
 }   
.navigation .nav-pills{
    text-align: right;
    margin: 1rem;
}
.navigation .link{
    color:white
}
.navigation .link-active{
    font-weight: bold;
}

/** header **/
.hero{
    padding: 2rem;
    padding-top: 5rem;
}

.header-name-color{
    color: gray;
}

.hero .hero-img{
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading{
    text-align: center;
    padding-top: 1rem;
    color: var(
        --primary-color
    );
}
.section{
    padding: 2rem;
}

.section h1{
    text-align: center;
}

.ow{
    background-color: var(--off-white);
}

/** footer **/

footer{
    background-color: var(--primary-color);
    padding: 2rem 1rem;   
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}

.footer .link{
    color: white;
}

.footer .footer-header{
    font-weight: bold;
    font-size: large;
}
.footer ul{
    padding-inline-start: 0px;
}